@charset "utf-8";
/* CSS Document */

input[type='text']{
	padding: 10px;
	background:#eeeeee;
	border:0;
	width: 15%;
}
input[type='text']:focus{
	background:#cccccc;
}
input[type='submit']{
	padding: 10px;
	width: 15%;
	opacity: .75;
	border: 0;
}
input[type='submit']:active{
	opacity: 1;
}
pright{
	float: right;
}
.accessbutton1{
	background:#E30003;
}
.indexbutton1{
	background: #0ECE00;
}